  /* Animation for toast fade-in and fade-out */
  .toast-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }

  .toast-fade-out {
    animation: fadeOut 0.5s ease-in forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }