/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


.primary-btn {
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 active:bg-blue-900 transition-colors;
}

.primary-btn.btn-sm {
  @apply text-sm px-3 py-1;
}

.secondary-btn {
  @apply bg-gray-200 dark:bg-zinc-800 text-gray-800 dark:text-white px-4 py-2 rounded hover:bg-gray-300 dark:hover:bg-zinc-700 transition-colors;
}

.secondary-btn.btn-sm {
  @apply text-sm px-3 py-1;
}

.active {
  @apply bg-blue-500 text-white;
}

/* Simple tooltip styling */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}