<div class="p-4">
  <div class="flex items-center mb-4">
    <h2 class="text-xl font-bold mb-4">Tasks
      <span class="text-xs text-gray-500 ml-2">({{appService.tasks.length}})</span>
    </h2>
  </div>
  <ul class="space-y-2 max-h-[70vh] overflow-y-auto scrollbar">
    <li *ngFor="let t of appService.tasks; let index=index; trackBy: trackCategoryById"
      class="relative rounded shadow p-2 border border-gray-200 dark:border-gray-700">
      <div class="mb-2">{{t.title}}</div>
      <div class="mb-2 text-gray-400">{{t.description}}</div>
      <div class="flex gap-2 items-center">
        <div class="text-xs text-gray-500">{{t.id | date:'medium'}}</div>
        <ng-container *ngIf="t.categoryId && t.categoryName">
          | <div class="text-xs text-gray-500">{{t.categoryName}}</div>
        </ng-container>
        <i class="ms-auto"></i>
        <button title="Delete Note" aria-label="Delete Note" (click)="handleDelete(t)"
          class="p-1 hover:bg-red-900 rounded">
          &#128465;
        </button>

        <button *ngIf="!t.isPaused" title="Pause Task" aria-label="Pause Task" (click)="handlePause(t)"
          class="p-1 hover:bg-yellow-900 rounded">
          &#9208;
        </button>
        <button *ngIf="t.isPaused" title="Resume Task" aria-label="Resume Task" (click)="handleResume(t)"
          class="p-1 hover:bg-yellow-900 rounded">
          &#9205;
        </button>
        <button title="Edit Note" aria-label="Edit Note" (click)="handleEdit(t)" class="p-1 hover:bg-blue-900 rounded">
          &#9999;
        </button>
      </div>
    </li>
  </ul>
</div>